<% content_for :title, 'Edit Profile' %>

<!-- notifications -->
<%= render "shared/notifications" %>

<div class="row">
  <div class="small-12 small-centered medium-8 medium-centered large-6 large-centered column clearfix">

    <div class="text-center">
      <h1><strong><%= link_to 'Annotator Engine', root_path %></strong></h1>
    </div>

    <h3 class="title"><%= yield :title %></h3>

    <div class="content">
      <%= form_for(resource, as: resource_name,
                             url: registration_path(resource_name),
                             html: { method: :put, class: :flexiform }) do |f| %>

        <% if devise_error_messages! %>
          <div data-alert class="alert-box warning radius">
            <%= devise_error_messages! %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>

        <ul class="no-bullet">
          <li>
            <%= f.label :email do %>
              Email
              <%= f.email_field :email, autofocus: true %>
            <% end %>
          </li>

          <li>
            <%= f.label :username do %>
              Username
              <%= f.text_field :username %>
            <% end %>
          </li>

          <!-- TODO -->
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <!-- TODO -->

          <li>
            <%= f.label :password do %>
              Password <small>(leave blank if you don't want to change it)</small>
              <%= f.password_field :password, autocomplete: "off" %>
            <% end %>
          </li>

          <li>
            <%= f.label :password_confirmation do %>
              Confirm Password
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <% end %>
          </li>

          <li>
            <%= f.label :current_password do %>
              Current Password <small>(we need your current password to confirm your changes)</small>
              <%= f.password_field :current_password, autocomplete: "off" %>
            <% end %>
          </li>

          <li class="submit">
            <%= f.submit 'Update Details', class: 'button expand' %>
          </li>

          <ul id="authentication_links" class="no-bullet text-center">
            <li class="delete">
              <%= link_to 'Unhappy? Cancel you account.', registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
            </li>
            <li>
              <%= link_to 'Go back', root_path %>
            </li>
          </ul>
        </ul>
      <% end %>
    </div>

    <!-- footer -->
    <footer>
      <div class="row">
        <div class="text-center large-12 large-centered column clearfix">
          <%= render "shared/footer" %>
        </div>
      </div>
    </footer>

  </div>
</div>
