<!-- notifications -->
<%= render "shared/notifications" %>

<div class="row">
  <div class="small-12 small-centered medium-11 medium-centered large-10 large-centered column clearfix">

  <br>

    <div class="text-center">
      <h2><strong><%= link_to 'The Digital Bleek & Lloyd Collection Annotator', root_path %></strong></h2>
    </div>

    <hr>
    <br>

    <div class="text-center">
      <% bl_collection_url = 'http://127.0.0.1:4000/' %>
      <% unless user_signed_in? %>
        <%= link_to 'Log In', new_user_session_path, class: 'button tiny' %>
        <%= link_to 'Go to the Bleek and Lloyd Collection', bl_collection_url, class: 'button tiny info' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button tiny' %>
      <% else %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'button tiny' %>
        <%= link_to 'Go to the Bleek and Lloyd Collection', bl_collection_url, class: 'button tiny success' %>
        <%= link_to 'Sign Out', destroy_user_session_path, class: 'button tiny', method: :get %>
      <% end %>
    </div>

    <hr>

    <h3>What Is The B&amp;L Digital Collection?</h3>

    <ul class="small-block-grid-4">
      <li><%= image_tag 'content/bl_collection-shot1.png', class: 'th' %></li>
      <li><%= image_tag 'content/bl_collection-shot2.png', class: 'th' %></li>
      <li><%= image_tag 'content/bl_collection-shot3.png', class: 'th' %></li>
      <li><%= image_tag 'content/bl_collection-shot4.png', class: 'th' %></li>
    </ul>

    <p>The <strong>Digital Bleek &amp; Lloyd Collection</strong> is a body of material that resulted from a series of interviews conducted with Khoisan informants between 1870 and 1884. It includes notebooks, drawings and watercolours made by the several Khoisan participants and recorded by Lucy Lloyd, Wilhelm Bleek and others researchers.</p>

    <h3>Getting Started</h3>

    <p>With an account you will be able to:</p>

    <ul>
      <li>Annotate images and share your thoughts about different objects in the rock art and notebook scans.</li>
      <li>Annotate text thereby being able to provide context to the text and share ideas.</li>
      <li>Edit annotations where other users have given permission.</li>
      <li>Have your annotations saved to your profile.</li>
    </ul>

    <p>If you already have an account <strong><%= link_to 'log in here', new_user_session_path %></strong>. If you need to create a new account <strong><%= link_to 'sign up here', new_user_registration_path %></strong>.</p>

    <ul class="small-block-grid-2">
      <li>
        <%= image_tag 'content/text-annotation-screenshot.png', class: 'th' %>
        <p style="padding-top: 5px;"><em>Example of a user viewing a public text annotation made by another user.</em></p>
      </li>
      <li>
        <%= image_tag 'content/image-annotation-screenshot.png', class: 'th' %>
        <p style="padding-top: 5px;"><em>Example of a user creating an annotation on an image containing rock art.</em></p>
      </li>
    </ul>

    <h3>Contact</h3>

    <p>In case of any queries or issues send an email to <a href="mailto:mnxjob002@myuct.ac.za">MNXJOB002@myuct.ac.za</a>.</p>

    <br>

    <%= link_to 'Go to the Bleek and Lloyd Collection', bl_collection_url, class: 'button expand' %>

    <!-- footer -->
    <footer>
      <div class="row">
        <div class="text-center large-12 large-centered column clearfix">
          <%= render "shared/footer" %>
        </div>
      </div>
    </footer>

  </div>
</div>
