<!-- notifications -->
<%= render "shared/notifications" %>

<div class="row">
  <div class="small-12 small-centered medium-11 medium-centered large-10 large-centered column clearfix">

  <br>

    <div class="text-center">
      <h2><strong><%= link_to 'The Digital Bleek & Lloyd Collection Annotator Engine', root_path %></strong></h2>
    </div>

    <hr>
    <br>

    <div class="text-center">
      <% bl_collection_url = 'http://127.0.0.1:4000/' %>
      <% unless user_signed_in? %>
        <%= link_to 'Log In', new_user_session_path, class: 'button tiny' %>
        <%= link_to 'Go to the Bleek and Lloyd Collection', bl_collection_url, class: 'button tiny info' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button tiny' %>
      <% else %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'button tiny' %>
        <%= link_to 'Go to the Bleek and Lloyd Collection', bl_collection_url, class: 'button tiny success' %>
        <%= link_to 'Sign Out', destroy_user_session_path, class: 'button tiny', method: :get %>
      <% end %>
    </div>

    <hr>

    <h3>What Is The B&amp;L Digital Collection?</h3>

    <ul class="small-block-grid-4">
      <li><%= image_tag 'content/bl_collection-shot1.png', class: 'th' %></li>
      <li><%= image_tag 'content/bl_collection-shot2.png', class: 'th' %></li>
      <li><%= image_tag 'content/bl_collection-shot3.png', class: 'th' %></li>
      <li><%= image_tag 'content/bl_collection-shot4.png', class: 'th' %></li>
    </ul>

    <p>The <strong>Bleek &amp; Lloyd digital publication</strong> is part of a Llarec project to digitise, research and publish the Bleek and Lloyd Archive. The Digital Bleek and Lloyd includes scans of every page of the 110 Lucy Lloyd <em>|xam</em> notebooks, 17 Lloyd (mostly) <em>!kun</em> notebooks and 28 Wilhelm Bleek <em>|xam</em> notebooks. It also includes Jemima Bleek's solitary Korana and <em>!kun</em> notebook and four Lloyd Korana notebooks in the Maingard collection of the Library at the University of South Africa, as well as Dorothea Bleek's 32 notebooks. All the drawings and watercolours made by <em>|han≠kass'o</em>, <em>Dia!kwain</em>, <em>Tamme</em>, <em>|uma</em>, <em>!nanni</em> and <em>Da</em> are also in the digital collection.</p>

    <p>The digital archive includes a 280,000-word searchable index, cross-referenced and including notes and summaries for each of the stories listed. Notes in italics are direct quotes from the reports of Bleek and Lloyd in which they detailed the progress of their research.</p>

    <h3>Why Create An Account?</h3>

    <p>With an account you will be able to:</p>

    <ul>
      <li>Annotate images and share your thoughts about different objects in the rock art and notebook scans.</li>
      <li>Annotate text thereby being able to provide context to the text and share ideas.</li>
      <li>Edit annotations where other users have given permission.</li>
      <li>Have your annotations saved to your profile.</li>
    </ul>

    <p>If you already have an account <strong><%= link_to 'log in here', new_user_session_path %></strong>. If you need to create a new account <strong><%= link_to 'sign up here', new_user_registration_path %></strong>.</p>

    <ul class="small-block-grid-2">
      <li>
        <%= image_tag 'content/text-annotation-screenshot.png', class: 'th' %>
        <p style="padding-top: 5px;"><em>Example of a user viewing a public text annotation made by another user.</em></p>
      </li>
      <li>
        <%= image_tag 'content/image-annotation-screenshot.png', class: 'th' %>
        <p style="padding-top: 5px;"><em>Example of a user creating an annotation on an image containing rock art.</em></p>
      </li>
    </ul>

    <h3>Contact</h3>

    <p>In case of any queries or issues send an email to <a href="mailto:mnxjob002@myuct.ac.za">MNXJOB002@myuct.ac.za</a>.</p>

    <br>

    <%= link_to 'Go to the Bleek and Lloyd Collection', bl_collection_url, class: 'button expand' %>

    <!-- footer -->
    <footer>
      <div class="row">
        <div class="text-center large-12 large-centered column clearfix">
          <%= render "shared/footer" %>
        </div>
      </div>
    </footer>

  </div>
</div>
