<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- +++ META +++ -->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <%= csrf_meta_tags %>

    <!-- +++ PAGE INFO +++ -->
    <title><%= content_for?(:title) ? "#{yield :title} • " : 'Store • ' %>Annotation Engine</title>

    <!-- +++ STYLESHEETS +++ -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- +++ JAVASCRIPT +++ -->
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
